# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Random . files qui sont creer par le MAC du prof
*/Debug/*

*/.*
*/*/.*
*/*/*/.*

